# Instructor Solutions Notebook
This notebook contains solution functions and tests for 20 questions covering Python data structures and pandas manipulation.

In [ ]:
name = 'student name'
roll_number = 'student roll number'

## Sum of Unique Elements

Return the sum of unique elements in a list (each element counted once).

In [ ]:
def question_one(nums: list[int]) -> int:
    pass

## Reverse List

Return a new list that is the reverse of input list.

In [ ]:
def question_two(xs: list) -> list:
    pass

## Count Occurrences

Return a dict mapping element -> count.

In [ ]:
def question_three(xs: list) -> dict:
    pass

## Flatten Nested List (one level)

Flatten a list containing lists by one level.

In [ ]:
def question_four(nested: list[list]) -> list:
    pass

## Invert Dictionary (values -> list of keys)

Invert a dict mapping k->v into v->list_of_k.

In [ ]:
def question_five(d: dict) -> dict:
    pass

## Merge Dicts Summing Values

Given two dicts with numeric values, return merged dict summing values for same keys.

In [ ]:
def question_six(a: dict, b: dict) -> dict:
    pass

## Top-K Frequent Elements (small k)

Return top k frequent elements (order not important).

In [ ]:
def question_seven(nums: list[int], k: int) -> list[int]:
    pass

In [ ]:
out = question_seven([1, 1, 2, 2, 2, 3], 2)

## Split Words from Sentence

Split a sentence into words (split on whitespace).

In [ ]:
def question_eight(s: str) -> list[str]:
    pass

## Join Words with Separator

Join a list of words with given separator.

In [ ]:
def question_nine(words: list[str], sep: str=' ') -> str:
    pass

## Longest Word Length

Return length of the longest word in sentence.

In [ ]:
def question_ten(sentence: str) -> int:
    pass

## Set Intersection

Return intersection of two lists as a set.

In [ ]:
def question_eleven(a: list, b: list) -> set:
    pass

## Deduplicate Preserve Order

Remove duplicates preserving the first occurrence order.

In [ ]:
def question_twelve(xs: list) -> list:
    pass

## Square Each Element (map)

Return list of squares.

In [ ]:
def question_thirteen(nums: list[int]) -> list[int]:
    pass

## Filter Even Numbers

Return only even numbers in original order.

In [ ]:
def question_fourteen(nums: list[int]) -> list[int]:
    pass

## Pandas Series value_counts

Given a list, return a pandas Series of value_counts sorted by index.

In [ ]:
def question_fifteen(values: list) -> 'pd.Series':
    pass

In [ ]:
import pandas as pd
s = question_fifteen(['a', 'b', 'a'])

## Pandas: Split 'name' column into first/last

Given DataFrame with column 'name' = 'First Last', split into 'first' and 'last' columns.

In [ ]:
def question_sixteen(df: 'pd.DataFrame') -> 'pd.DataFrame':
    pass

In [ ]:
import pandas as pd
df = pd.DataFrame({'name': ['John Doe', 'Alice Smith']})
out = question_sixteen(df)

## Pandas: Merge two DataFrames on key 'id'

Perform inner merge on 'id' and return merged DataFrame.

In [ ]:
def question_seventeen(a: 'pd.DataFrame', b: 'pd.DataFrame') -> 'pd.DataFrame':
    pass

In [ ]:
import pandas as pd
a = pd.DataFrame({'id': [1, 2], 'x': [10, 20]})
b = pd.DataFrame({'id': [2, 3], 'y': [200, 300]})
out = question_seventeen(a, b)

## Pandas: Concatenate DataFrames vertically

Return concatenated DataFrame with reset index.

In [ ]:
def question_eighteen(dfs: list) -> 'pd.DataFrame':
    pass

In [ ]:
import pandas as pd
a = pd.DataFrame({'x': [1]})
b = pd.DataFrame({'x': [2]})
out = question_eighteen([a, b])

## Pandas: GroupBy Sum

Group by 'key' and sum numeric column 'val'. Return DataFrame sorted by key.

In [ ]:
def question_nineteen(df: 'pd.DataFrame') -> 'pd.DataFrame':
    pass

In [ ]:
import pandas as pd
df = pd.DataFrame({'key': ['a', 'b', 'a'], 'val': [1, 2, 3]})
out = question_nineteen(df)

## Pandas: Fill missing values

Fill NA in numeric column 'num' with given fill_value and return DataFrame.

In [ ]:
def question_twenty(df: 'pd.DataFrame', fill_value=0) -> 'pd.DataFrame':
    pass

In [ ]:
import pandas as pd
df = pd.DataFrame({'num': [1, None, 3]})
out = question_twenty(df, fill_value=9)